// scss-docs-start color-variables
$blue: purple;
$indigo: #9055ee;
$purple: #9b76f8;
$pink: #f259a5;
$red: #f4495a;
$orange: #fa9a4c;
$yellow: #FFD369; // #FFE6A4;
$green: #5cfeb2;
$teal: #5eefc4;
$gray-600: #393E46; //secondary color
$cyan: #393E46; //#AD8211;
$gray-300: #000; //border color
$gray-900: #222831; //Dark color

.bg-primary {
    background: linear-gradient(-225deg, $yellow, $cyan);
    background-attachment: fixed;
    background-size: cover;
}

.bg-navbar {
    background: linear-gradient(90deg, $yellow, $cyan);
}

.custom-border-bottom {
    border-bottom: 3px solid !important;
}

.feed-background {
    background-color: #BF7791;
}

.full-width {
    width: 100%;
}


main {
    padding-bottom: 80px;
}


.norican-regular {
    font-family: "Norican", cursive;
    font-weight: 400;
    font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

/* .raleway-bold {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700

p {
    font-family: "Yrsa", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

//https://bootsnipp.com/snippets/3522X
.user_card {
    margin-top: auto;
    margin-bottom: auto;
    background: linear-gradient(-225deg, $yellow, $cyan);;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;

}
.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 20px;
    background: #222831;
    padding: 10px;
    text-align: center;
}
.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 20px;
}

.form_container {
    margin-top: 100px;
}

.input-group-text {
    background: #393E46 !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #393E46 !important;
}


/* Tilpasset farge for godkjent (valid) tilstand med #6997FF */
html .form-control.is-valid:focus, 
html .was-validated .form-control:valid:focus {
  border-color: #6997FF !important; /* Medium blå */
  box-shadow: 0 0 0 0.2rem rgba(105, 151, 255, 0.5) !important; /* Lysere blå skygge for fokus */
}

html .was-validated .form-control:valid,
html .form-control.is-valid {
  border-color: #6997FF !important; /* Medium blå for gyldig input-grense */
}


/* Tilpasset farge for ikke godkjent (invalid) tilstand */
html .form-control.is-invalid:focus, 
html .was-validated .form-control:invalid:focus {
  border-color: #E53935 !important; /* Klar rød */
  box-shadow: 0 0 0 0.2rem rgba(229, 57, 53, 0.25) !important;
}

html .was-validated .form-control:invalid,
html .form-control.is-invalid {
  border-color: #E53935 !important;
}



@import url('https://fonts.googleapis.com/css2?family=Norican&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Norican&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Norican&family=Raleway:ital,wght@0,100..900;1,100..900&family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap');
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";